p {
  font size: 16pt;
  font-family: serif;
}

ul {
  font size: 30pt;
  text-align: center;
}

ol {
  align: center;
} 

h1 {
  text-align: center;
  color: purple;
}

header {
}

body {
  align: center;
  background-image: https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.kindpng.com%2Fimgv%2FhiwxToT_computer-icon-png-imac-computer-icons-desktop-computers%2F&psig=AOvVaw2jKCXzBuAo1dttjKFcpPB1&ust=1680360107429000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCOiF7bazhv4CFQAAAAAdAAAAABAD;
}

footer {
  text-align: center;
}
