p {
  font size: 16pt;
  font-family: serif;
}

ul {
  font-family: OCR A Std, monospace;
  font size: 30pt;
  text-align: center;
}

ol {
  align: center;
  text-decoration: underline;
} 

h1 {
  text-align: center;
  color: purple;
}

header {
  text-decoration: bold;
  font-style: italic;
}

body {
  align: center;
  background-color: aliceblue;
}

footer {
  text-align: center;
  height: 130px;
  width: 100px;
}
