p {
  font size: 16pt;
  font-family: serif;
}

ul {
  font size: 30pt;
  text-align: center;
}

ol {
} 

h1 {
  text-align: center;
  color: purple;
}

header {
}

body {
  align: center;
}

footer {
  text-align: center;
}
